<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/team">Acerca de Nosotros</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contacto</a></li>
	    <li><a href="https://twitter.com/ciengro">Síguenos en Twitter</a></li>

          </ul>

        </div>
        <p>Cualquier comentario, idea, sugerencia y apoyo es útil para seguir fortaleciendo esta comunidad. Además, estaremos colocando material para aprendizaje en <a href="https://ciengro.github.io/">nuestra página web </a>. Siéntete libre de escribirnos ya sea por <a href="https://www.facebook.com/ciengro/">Facebook</a> o email <b>ciengro@gmail.com</b></p>
        <p>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
